<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wędrówki w czasie</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'GroupedLayer/leaflet.groupedlayercontrol.css' %}" />
    <script src="{% static 'GroupedLayer/leaflet.groupedlayercontrol.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Leafletmarkercluster1.4.1/dist/MarkerCluster.css' %}">
    <link rel="stylesheet" href="{% static 'Leafletmarkercluster1.4.1/dist/MarkerCluster.Default.css' %}">
    <script src="{% static 'Leafletmarkercluster1.4.1/dist/leaflet.markercluster-src.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style/map.css' %}" />
    <link rel="stylesheet" href="{% static 'style/header.css' %}" />
    <style>
        #map { height: 1000px; }
    </style>
</head>
<body>
    <header>
        <div class="header-left">
            <div class="logo">
                <!-- <img src="{% static 'images/logo.png' %}" alt="Logo strony"> -->
                <h1>Wędrówki w czasie: Mszana w XIX, XX i XXI wieku</h1>
            </div>
        </div>
        <div class="header-center">
            <!-- Link względny do "o stronie" -->
            <a href="/map/about" target="_blank">O stronie...</a>
        </div>
        <div class="header-right">
            <nav>
                <a href="https://szymon-wais.netlify.app" target="_blank">Twórca strony</a>
                <img src="{% static 'images/szymon.jpg' %}" alt="Twórca" class="creator-photo">
                <a href="https://www.linkedin.com/in/szymon-wais-8b7011226/" target="_blank">
                    <img src="{% static 'images/linkedin.png' %}" alt="LinkedIn" class="linkedin-icon">
                </a>
            </nav>
        </div>
    </header>
    <div id="map"></div>
    <script src="{% static 'scripts/initMap.js' %}"></script>
    <script type="module" src="{% static 'scripts/layers.js' %}"></script>
</body>
</html>